server:
    verbosity: 1
    interface: 0.0.0.0
    port: 53
    do-ip4: yes
    do-ip6: yes
    access-control: 0.0.0.0/0 allow
    root-hints: "/etc/unbound/root.hints"
    trust-anchor-file: "/etc/unbound/root.key"
    logfile: ""

remote-control:
    control-enable: no
