$TTL 86400

@ IN SOA {{ name }}. admin.{{ name }}. (
    1
    86400
    3600
    604800
    86400
)

@       IN NS    {{ name }}.
{{ name }}.    IN A     {{ ip }}

{% for child in children %}
{{ child.name }}.    IN A    {{ child.ip }}
{{ child.name }}.    IN NS   ns1.{{ child.name }}.
ns1.{{ child.name }} IN A    {{ child.ip }}
{% endfor %}
