services:
{% for server in servers %}
  {{ server['name'] }}:
    build: ./images/bind
    container_name: {{ server['container_name'] }}
    hostname: {{ server['hostname'] }}
    volumes:
      - ./config/{{ server['container_name'] }}:/etc/bind
    networks:
      dnslab:
        ipv4_address: {{ server['ip']}}
{% endfor %}

  resolver:
    build: ./images/resolver
    container_name: resolver
    hostname: resolver
    volumes:
      - ./output/resolver/unbound.conf:/etc/unbound/unbound.conf
      - ./output/resolver/root.hints:/etc/unbound/root.hints
      - ./output/resolver/root.key:/etc/unbound/root.key
    networks:
      dnslab:
        ipv4_address: 10.10.3.1

  client:
    build: ./images/client
    container_name: client
    hostname: client
    tty: true           
    stdin_open: true   
    dns:
      - 10.10.3.1 
    networks:
      dnslab:
        ipv4_address: 10.10.4.1

networks:
  dnslab:
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 10.10.0.0/16
